{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>features</title>
</head>
<body>
<section id="about" class="light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div>
                    일단 실시간 영상을 화면으로 나타날수있어야함
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
{% endblock %}